<footer>
	<div class="container-fluid footer">
	    <div class="col-lg-1"></div>
	    <div class="col-lg-10 footer-list">
	        <div class="col-lg-1"></div>
	        <div class="col-lg-2 footer-li">
	            <ul>
	                <li>新手指南</li>
	                <li><a href="">购物流程</a></li>
	                <li><a href="/payment">支付方式</a></li>
	            </ul>
	        </div>
	        <div class="col-lg-2 footer-li">
	            <ul>
	                <li>庭阁/花艺</li>
	                <li><a href="">最新产品</a></li>
	                <li><a href="">鲜花</a></li>
	            </ul>
	        </div>
	        <div class="col-lg-2 footer-li">
	            <ul>
	                <li>庭阁/花店</li>
	                <li><a href="./page/flowerKnowledge.html">花知识</a></li>
	                <li><a href="./page/activity.html">培训</a></li>
	                <li><a href="/about">关于我们</a></li>
	            </ul>
	        </div>
	        <div class="col-lg-2 footer-li">
	            <ul>
	                <li>庭阁/帮助</li>
	                <li><a href="/afterSale">售后服务</a></li>
	                <li><a href="">常见问题</a></li>
	                <li><a href="">联系我们</a></li>
	            </ul>
	        </div>
	        <div class="col-lg-2 footer-pic">
	            <img src="/images/index/二维码.png" alt="">
	        </div>
	        <div class="col-lg-1"></div>
	    </div>
	    <div class="col-lg-1"></div>
	</div>
	<!------------------footer2--------------------------------->
	<div class="container-fluid footer1 text-center">
	    <div class="col-lg-12">
	        <p>Copyright right reserved.花庭阁</p>
	    </div>
	</div>

</footer>